<extend name="public:header" />
<block name="externLinks">
    <!--附加其他文件的方法-->
    <link href="__PUBLIC__/css/flat-ui.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/highcharts.js"></script>
    <script src="__PUBLIC__/js/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/zhihu/question.css">
    <script type="text/javascript" src="__PUBLIC__/js/bubble/d3.min.js"></script>
</block>
<block name="content">

    <script type="text/javascript">
    	function getLocalTime(nS) {     
	        return new Date(parseInt(nS) * 1000).toLocaleString();
	    }   
		function FindStr(str1, str2){
		    var s = str1.indexOf(str2);
		    return(s);
		}

    	var temp = <{$emotion}>;
    	
    	var time_data = new Array();
    	var step = (temp['end'] - temp['begin'])/9;
    	
        for(var i = 0; i < 10; i++)
    	{
    		time_data[i] = temp['begin'] + i * step;
    	}
    	
    	var time_str = new Array();

    	for (var i = 0; i < 10; i++) {
    		time_str[i] = getLocalTime(time_data[i]);
    		time_str[i] = time_str[i].slice(0, FindStr(time_str[i]," "));
    	};

		$(function () {
    $('#charts').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: '情感走势图'
        },
        subtitle: {
            text: '来源: zhihu.com'
        },
        xAxis: {
            categories: time_str,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Percent'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} millions)<br/>',
            shared: true
        },
        plotOptions: {
            area: {
                stacking: 'percent',
                lineColor: '#ffffff',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#ffffff'
                }
            }
        },
        series: [{
                            name: 'Sad',
                            data: temp['sad\r\n']
                            }, {
                            name: 'Angry',
                                data: temp['angry\r\n']
                            }, {
                            name: 'Happy',
                                data: temp['happy\r\n']
                            }, {
                            name: 'Fear',
                                data: temp['fear\r\n']   
                            },{
                            name: 'Neutral',
                            data: temp['NONE\r\n']  
                            }]
    });
});  
	</script>  

	<div class="question_charts">
		<div class="question">
			<h3><{$question_name}></h3>
			<p><{$question_description}></p>
		</div>
        <div class="YN">
            <div id="YesAndNo">
            </div>
            <div class="YesNoTitle">
                <div class="leftTitle">赞成</div>
                <div class="rightTitle">反对</div>
            </div> 
        </div>
                        <div style="border-bottom: 2px solid #dadada; margin-bottom: 60px;">
                            <div id="charts" style="width:100%; height: 400px; margin: 5px auto;">
                            </div>
                        </div>
		
		<div class="c2 row">
            <div class="bubbleDIV col-md-6">
                <div class="flashwords">
                <span style="text-align: center; position: relative; left: 70%;">舆情走势</span>
                    <div class="round"></div>
                    <div class="timeAxis">
                        <div class="axis">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="donuts">
            </div>  
            <script type="text/javascript">
                var emotionPercent = JSON.parse('<{$emotionPercent}>');
                console.log(emotionPercent);
                var ePdata = new Array();
                var tempn = 0;
                for(var key in emotionPercent){
                    ePdata[tempn] = emotionPercent[key];
                    tempn++;
                }
                var add = 0;
                for (var i = 0; i < ePdata.length; i++)
                {
                    add += ePdata[i];
                }
                for (var i = 0; i < ePdata.length; i++)
                {
                    ePdata[i] = parseFloat(((ePdata[i]/add) * 100).toFixed(2));
                }
                
                var cateTemp = new Array();
                var Y = 0;

                for(var X in emotionPercent){
                    cateTemp[Y] = X;
                    Y++; 
                }

                var dataTemp = new Array();
                for (var i = 0; i < ePdata.length; i++) {
                    dataTemp[i] = {y:ePdata[i]};
                }
                console.log(dataTemp);

                $(function () {
                    var colors = Highcharts.getOptions().colors,
                    categories = cateTemp,
                    name = 'Browser brands',
                    data = dataTemp;

                    var typeData = [];
                    for (var i = 0; i < data.length; i++) {
                        typeData.push({
                            name: categories[i],
                            y: data[i].y,
                            color: data[i].color
                        });
                    }

                    $('#donuts').highcharts({
                        chart: {
                            type: 'pie'
                        },
                        title: {
                            text: '情感占比图'
                        },
                        yAxis: {
                            title: {
                                text: 'Total percent market share'
                            }
                        },
                        plotOptions: {
                            pie: {
                                innerSize: '50%',
                                shadow: false,
                                center: ['50%', '50%'],
                            }
                        },
                        tooltip: {
                            valueSuffix: '%'
                        },
                        dataLabels: {
                            enabled: true,
                            distance: -110,
                            formatter: function(){},
                            style: {
                                fontSize: "20px"
                            }
                        },
                        series: [{
                            name: 'Browsers',
                            data: typeData,
                            size: '100%',
                            dataLabels: {
                                formatter: function() {
                                    return this.y > 5 ? this.point.name : null;
                                },
                                color: 'white',
                                distance: -30
                            }
                        }]
                    });
                });

var yes = emotionPercent['happy'];
var no = emotionPercent['sad'] + emotionPercent['angry'];
var yesPer = yes / (yes + no);
var noPer = no / (yes + no);
console.log(yesPer);
console.log(noPer);


var addYN = "<div class=\"progress\"><div class=\"progress-bar progress-bar\" style=\"width:" + (yesPer*100).toString() + "%" + ";\">"+(yesPer*100).toFixed(2).toString()+"%"+"</div><div class=\"progress-bar progress-bar-warning\" style=\"width:" + (noPer*100).toString() + "%" + ";\">"+(noPer*100).toFixed(2).toString()+"%"+"</div></div>";
var YesNo = $("#YesAndNo").html(addYN);
            </script>    
        </div>
	</div>
    <div class="answers container">
        <volist name="answers" id="vol">
            <div class="answersheet">
                <div class="answer_top">
                    <div class="answer_user"><{$vol.name}></div>
                    <div class="answer_emotion"><{$vol.emotion}></div>
                    <!-- <div class="answer_avatar"><img src="<{$vol.avatar_url}>"></div> -->
                    <div class="answer_like"><{$vol.like_number}>人赞同</div>
                </div>
                <div class="answer_content"><{$vol.content}></div>   
                <div class="answer_time"><{$vol.time}></div>     
            </div>
        </volist>
    </div>
	<script type="text/javascript">

    var heightOfDiv = $(".answersheet");

	var dat_temp = JSON.parse('<{$keywords}>');

	console.log(dat_temp);

	allStartString = "{\"children\":[";
	for (var i = 0; i < dat_temp.length; i++)
	{
		bub_temp = dat_temp[i]['keywords'];
		var result = d3.entries(bub_temp);
		var startString = "{\"children\":[";
		result.forEach(function(dude){
			startString+="{\"name\":\""+String(dude.key)+"\",\"size\":"+dude.value+"},";
		});
		startString = startString.substring(0,startString.length-1);
		startString+="]}";
		allStartString += startString + ",";
	}
	allStartString = allStartString.substring(0,allStartString.length-1);
	allStartString += "]}";
	var root = JSON.parse(allStartString);

	function getLocalTime(nS) {     
       return new Date(parseInt(nS) * 1000).toLocaleString();
    }   
	function FindStr(str1, str2){
	    var s = str1.indexOf(str2);
	    return(s);
	}

    var dateA = new Array(); 

    for (var i = 0; i < dat_temp.length; i++)
    {
    	dateA[i] = getLocalTime(dat_temp[i]['time']); 
    	dateA[i] = dateA[i].slice(0, FindStr(dateA[i]," "));
    } 

    var tempL = dateA.length;
    dateA[tempL] = "2016/5/1";

    var date_list = new Array();
    for (var i = 0; i < dateA.length - 1; i++) {
    	date_list[i] = new Object();
    	date_list[i].end = dateA[i+1];
    	date_list[i].left = String(10 + 70 * i);
    	date_list[i].time = dateA[i];
    	date_list[i].title = String(738 + 5 * i);
    };

    var dat = date_list;

	</script>

	<script type="text/javascript" src="__PUBLIC__/js/bubble_time.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/echarts_all.js"></script>
	<script type="text/javascript">
			 $(document).ready(function() {
				try {
					setPoint(dat);
				} catch (err){}
				try {
		       		getRealtimeStat();
		        } catch (err){}
		        try {
					getLineStat();
				} catch (err){}
			});
		</script>
</block>