<extend name="public:header" />
<block name="externLinks">
    <!--附加其他文件的方法-->
    <link href="__PUBLIC__/css/flat-ui.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/highcharts.js"></script>
    <script src="__PUBLIC__/js/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/zhihu/question.css">
    <script type="text/javascript" src="__PUBLIC__/js/bubble/d3.min.js"></script>
</block>
<block name="content">
    <!--js等一下~~-->
    <script type="text/javascript">

    console.log('<{$emotion}>');

		$(function () {
		    $('#charts').highcharts({
		        chart: {
		            type: 'area'
		        },
		        title: {
		            text: '情感分析'
		        },
		        xAxis: {
		            labels: {
		                formatter: function() {
		                    return this.value;
		                }
		            }
		        },
		        yAxis: {
		            title: {
		                text: '情感指数'
		            },
		            labels: {
		                formatter: function() {
		                    return this.value;
		                }
		            }
		        },
		        tooltip: {
		            pointFormat: '{series.name} <b>{point.y:,.0f}</b><br/>'
		        },
		        plotOptions: {
		            area: {
		                pointStart: 1,
		                marker: {
		                    enabled: false,
		                    symbol: 'circle',
		                    radius: 2,
		                    states: {
		                        hover: {
		                            enabled: true
		                        }
		                    }
		                }
		            }
		        },
		        series: [{
		            name: 'Happy',
		            data: [110, 235, 369, 640,1005, 1436,
		            		2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,27387, 29459, 31056, 31982,
		            		32040, 31233, 29224, 27342, 26662,26956, 27912, 28999, 28965, 27826, 25579,
		            		25722, 24826, 24605,24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344,
		            		23586,22380, 21004, 17287, 14747
		            ]
		        }, {
		            name: 'Sad',
		            data: [5, 25, 50,
		            	120, 150, 200, 426, 4238, 5221, 6129, 660, 869, 1060, 1605, 2471, 3322,
		            	7089, 8339, 9399, 10538, 11643, 13092, 14478,15915, 17385, 19055, 21205,
		            	27431, 29197, 25000, 23000, 23044, 25393, 27935, 20062, 22049,23952, 25804,
		            	21000, 39000, 37000,35000, 33000, 31000, 29000 
		            ]
		        }]
		    });
		});   
	</script>  

	<div class="question_charts">
		<div class="question">
			<h3><{$question_name}></h3>
			<p><{$question_description}></p>
		</div>
		<div id="charts" style="width:100%; height: 400px; margin: 5px auto">
		</div>
		<div class="bubbleDIV">
			<div class="flashwords">
				<div class="round"></div>
				<div class="timeAxis">
					<div class="axis">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">

	var dat_temp = JSON.parse('<{$keywords}>');

	allStartString = "{\"children\":[";
	for (var i = 0; i < dat_temp.length; i++)
	{
		bub_temp = dat_temp[i]['keywords'];
		var result = d3.entries(bub_temp);
		var startString = "{\"children\":[";
		result.forEach(function(dude){
			startString+="{\"name\":\""+String(dude.key)+"\",\"size\":"+dude.value+"},";
		});
		startString = startString.substring(0,startString.length-1);
		startString+="]}";
		allStartString += startString + ",";
	}
	allStartString = allStartString.substring(0,allStartString.length-1);
	allStartString += "]}";
	var root = JSON.parse(allStartString);

	function getLocalTime(nS) {     
       return new Date(parseInt(nS) * 1000).toLocaleString();
    }   
	function FindStr(str1, str2){
	    var s = str1.indexOf(str2);
	    return(s);
	}

    var dateA = new Array(); 

    for (var i = 0; i < dat_temp.length; i++)
    {
    	dateA[i] = getLocalTime(dat_temp[i]['time']); 
    	dateA[i] = dateA[i].slice(0, FindStr(dateA[i]," "));
    } 

    var tempL = dateA.length;
    dateA[tempL] = "2016/1/1";

    var date_list = new Array();
    for (var i = 0; i < dateA.length - 1; i++) {
    	date_list[i] = new Object();
    	date_list[i].end = dateA[i+1];
    	date_list[i].left = String(10 + 88 * i);
    	date_list[i].time = dateA[i];
    	date_list[i].title = String(738 + 5 * i);
    };

    var dat = date_list;

	</script>

	<script type="text/javascript" src="__PUBLIC__/js/bubble_time.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/echarts_all.js"></script>
	<script type="text/javascript">
			 $(document).ready(function() {
				try {
					setPoint(dat);
				} catch (err){}
				try {
		       		getRealtimeStat();
		        } catch (err){}
		        try {
					getLineStat();
				} catch (err){}
			});
		</script>
</block>