body{
	background-color: #f5f5f5;
}

.question_charts{
	background-color: #fff;
	border:1px solid #A0A0A0;
	width: 64%;
	height: auto;
	margin: 0 auto;
	padding-left: 30px; 
	padding-right: 30px;
	font-family: "Microsoft Yahei";
	color: #303030;
}

.question{
	border-bottom: 1px solid #A0A0A0;
	padding: 8px 8px 10px 17px;
}

h3{
	font-size: 24px;
	margin-bottom: 3px;
}

.navbar-header, .navbar{
	border-radius: 0px;
}

* html{background-image:url(about:blank);background-attachment:fixed;} /**修正IE6滚动时振动bug **/

a {outline:none;text-decoration:none;hide-focus: expression(this.hideFocus=true);font-family: "Microsoft Yahei"}
a:link {color:#666;}
a:active {color:#D91018;}
a:hover {color:#D91018;}
a:visited {color:#FFF;}

#header,.wrap,#footer {	width: 980px; margin:0 auto;}
#header {
	position: relative;
	height: 520px;
}
.logo {
	position: absolute;
	top:0; left:0;
	width: 240px;
	height: 99px;
	display: block;
	text-indent: -9999px;
	display: none;
}
.wrap {
	position: relative;
	overflow: hidden;
}
.w980 {
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
}
.titleDiv {
	color:#fff;
	font-size:16px;
	height: 40px;
	line-height: 40px;
	letter-spacing: 3px;
	text-indent: 12px;
}

.bodyDIV {
	padding: 0 auto;
	text-align: center;
	border-radius: 5px;
}

.flashMap,
.flashwords {width: 680px;}
table {
	border-collapse:collapse;
	width: 100%;
}
table th,table td {padding:5px 0;}
.table1 {

}
table th {height: 40px;line-height: 40px;text-align: left;}
.table1 .td1 {text-align: center;}
.table1 tbody .td2 {color:#fff;}
.table1 .num { float:right;color:#fff;}
.pbar {height: 15px;}

.table2 {

}
.table2 .td1 {text-align: left; padding-left: 10px;}
.table2 .td2 {text-align: right; padding-right: 10px; color:#fff; }

#footer { 
	padding: 10px 0 20px;
	line-height: 22px;
	text-align: center;
}
.flink {
	background: #7998C3; 
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #00205D;
	border-radius: 5px 5px 0 0;
}
#footer .cr {margin-top: 30px;}

.kuang {
	background-image:url(http://static.bjdataart.com/image/bj.jpg);
	background-repeat:no-repeat;
	background-position:center 0;
	min-height:390px;
	position:absolute;
	margin-left:-490px;
	left:50%;
	top:0px
}
.center {
	width:980px;
	margin:0 auto;
}
.top {
	text-align:right;
	font-size:12px;
	height:35px;
	line-height:35px;
	color:#6a6a6a;
}
.top a {
	color:#6a6a6a;
}
.round {
	float:left;
	width:680px;
	height:466px;
	border:0px;
	margin-top:0px;
}
.explain {
	margin-left:600px;
	margin-top:380px;
	border-left:6px solid #669acc;
	height:130px;
	padding-left:10px;
}
.explain_th {
	font-weight:bold;
	font-size:13px;
	line-height:22px;
}
.explain_td {
	font-size:12px;
	line-height:18px;
	color:#676767;
	text-indent:2em
}
.timeAxis {
	width:100%;
}
.axis {
	margin:0;
	background-repeat:repeat-x;
	background-position:0 center;
	height:19px;
	position:relative;
	top: 400px;
	left: 50px;
}
.axisPoint {
	width:11px;
	height:11px;
}
.axisTime {
	position:absolute;
	font-size:12px;
	top:20px;
	width:32px;
	color:#666
}
.axisTitle {
	position:absolute;
	text-align:center;
	font-size:12px;
	top:34px;
	width:48px;
	color:#666;
	border:#999 1px solid;
	background-color:#eee;
	padding:3px
}

.bubbleDIV{
	height: auto;
	min-height: 500px;
	background-color: white;
}

.flashwords{
	display: inline-block;
}




