.navbar ,.navbar-inverse ,.navbar-embossed, #all-carousel
{
    font-size: 13px;
    min-height: 53px;
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #2C3E50;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret
{
    border-top-color: white;
    border-bottom-color: white;
}

.fake
{
    width: 5px;
}

body
{
    margin: 0 auto;
    color: #5a5a5a;
    font-family: "Microsoft Yahei";
}

h1, h2, h3
{
    margin-top: 0px;
    margin-bottom: 36px;
}

a .btn ,.btn-block ,.btn-lg
{
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

.carousel
{
    height: 500px;
    margin-bottom: 60px;
}

.carousel .item
{
    height: 500px;
    background-color: #000;
}

.carousel .item #icon-img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.carousel-caption
{
    z-index: 10;
}

.carousel-caption p
{
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.8;
}

.summary
{
    padding-right: 15px;
    padding-left: 15px;
}

.summary .col-md-4
{
    margin-bottom: 20px;
    text-align: center;
}

.img-circle
{
    width: 100%;
    height: 100%;
}

.feature-divider
{
    margin: 40px 0;
}

.feature
{
    padding: 30px 0;
}

.feature-heading
{
    font-size: 50px;
    color: #2a6496;
}

.feature-heading .text-muted
{
    font-size: 28px;
}

.navbar{
    border-radius: 0px;
}

@media (max-width: 768px)
{

    .summary
    {
        padding-right: 3px;
        padding-left: 3px;
    }

    .carousel
    {
        height: 300px;
        margin-bottom: 30px;
    }

    .carousel .item
    {
        height: 300px;
    }

    .carousel img
    {
        min-height: 300px;
    }

    .carousel-caption p
    {
        font-size: 16px;
        line-height: 1.4;
    }

    .feature-heading
    {
        font-size: 34px;
    }

    .feature-heading .text-muted
    {
        font-size: 22px;
    }
}

@media (min-width: 992px)
{
    .feature-heading
    {
        margin-top: 5px;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3,.h4, .h5, .h6,
{
    font-family: Microsoft Yahei;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    font-size: 30px;
}

/*以前index内部css*/
body{
    background: #f5f5f5;
    -webkit-background-size: cover; -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.search{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    font-family: "Microsoft Yahei";
}

.nav-tabs {
    border-bottom:0px;
}

.nav-tabs li a {
    font-size: 10px;
    height: 36px;
    width: 82px;
    margin-right: 2px;
    line-height: 1.2;
    border: 1px solid transparent;
    border-radius:0;
}

.feature{
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: white;
    cursor: default;
    background-color: #3498DB;
    border: 1px solid #3498DB;
    border-bottom-color: transparent;
}

.search-enter .feature{
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group .select2-search input[type="text"]:first-child {
    border-radius: 0;
    border: 3px solid #3498DB;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group .select2-search input[type="text"]:last-child {
    border-radius: 0;
    border: 3px;
    background-color: #3498DB;
}

.result{
    margin-top: 4em;
    background-color: rgba(254,254,254,0.2);
}

.person_fill{
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    margin: 3px;
    background-color: white;
    text-align: left;
    width: 32%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content_fill{
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    text-align: left;
}

.content_1{
    color: #212121;
    font-size: 16px;   
    white-space:nowrap;
}

.content_2{
    color: #212121;
    font-size: 16px;   
    width: 180px;
    white-space:nowrap;
    overflow:hidden;
}

.answer_number{
    color: #212121;
    font-size: 12px;
}