<extend name="public:header" />
<block name="externLinks">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexplus.css">
</block>
<block name="content">

    <div class="index-container">
     <div id="all-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
       <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
       <li data-target="#ad-carousel" data-slide-to="1"></li>
       <li data-target="#ad-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
       <div class="item active">
        <img src="__PUBLIC__/img/2.jpg" alt="0 slide" />
        <div class="container">
         <div class="carousel-caption">
          <p><img id="icon-img" src="__PUBLIC__/img/sina.png" alt="" /> </p>
          <h1 style="margin-bottom: 40px; ">高校学生网络舆情分析系统</h1>
          <p style=" margin-bottom: 80px; font-size:  25px; font-weight: 10px;" >用户兴趣模型，网络舆情分析，情感分析</p>
         </div>
        </div>
       </div>
       <div class="item">
        <img src="__PUBLIC__/img/1.jpg" alt="1 slide" />
        <div class="container">
         <div class="carousel-caption">
          <p><img id="icon-img" src="__PUBLIC__/img/zhihu.png" alt="" /> </p>
          <h1>自然语言智能处理</h1>
          <p style="color:  #9AFF9A">自动分词，主题自动挖掘，舆情关键词自动提取，情感分析，舆情分析是高校学生网络舆情分析系统的核心技术</p>
         </div>
        </div>
       </div>
       <div class="item">
        <img src="__PUBLIC__/img/4.jpg" alt="2 slide" />
        <div class="container">
         <div class="carousel-caption">
         <p><img id="icon-img" src="__PUBLIC__/img/artificial.png" style="background-color: #FFF" alt="" /> </p>
          <h1 style="margin-bottom: 40px; ">舆情关键词提取技术</h1>
          <p style=" margin-bottom: 80px;">基于机器翻译模型的舆情关键词提取，为网络舆情检测提供技术保障</p>
         </div>
        </div>
       </div>
      </div>
      <a class="left carousel-control" href="#all-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#all-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
     </div>
    <script>
          $(function ()
  {
    $('#ad-carousel').carousel();
              $('#menu-nav .navbar-collapse a').click(function (e) {
                  var href = $(this).attr('href');
                  var tabId = $(this).attr('data-tab');
                  if ('#' !== href) {
                      e.preventDefault();
                      $(document).scrollTop($(href).offset().top - 70);
                      if (tabId) {
                          $('#feature-tab a[href=#' + tabId + ']').tab('show');
  }
                  }
              });
          });
      </script>
</block>
