<extend name="public:header" />
<block name="externLinks">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexplus.css">
</block>
<block name="content">

    <div class="index-container">
     <div id="all-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
       <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
       <li data-target="#ad-carousel" data-slide-to="1"></li>
       <li data-target="#ad-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
       <div class="item active">
        <img src="__PUBLIC__/img/2.jpg" alt="0 slide" />
        <div class="container">
         <div class="carousel-caption">
          <p><img id="icon-img" src="__PUBLIC__/img/sina.png" alt="" /> </p>
          <h1>新浪微博</h1>
          <p><a class="btn btn-block btn-lg btn-danger" target="_blank" role="button" href="__APP__/Home/NewWeibo">Enter</a></p>
         </div>
        </div>
       </div>
       <div class="item">
        <img src="__PUBLIC__/img/3.jpg" alt="1 slide" />
        <div class="container">
         <div class="carousel-caption">
          <p><img id="icon-img" src="__PUBLIC__/img/zhihu.png" alt="" /> </p>
          <h1>知乎</h1>
          <p><a class="btn btn-block btn-lg btn-info" target="_blank" role="button">Enter</a></p>
         </div>
        </div>
       </div>
       <div class="item">
        <img src="__PUBLIC__/img/4.jpg" alt="2 slide" />
        <div class="container">
         <div class="carousel-caption">
          <h1>数据分析</h1>
          <p><a class="btn btn-block btn-lg btn-success" target="_blank" role="button">Enter</a></p>
         </div>
        </div>
       </div>
      </div>
      <a class="left carousel-control" href="#all-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#all-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
     </div>
    <script>
          $(function ()
  {
    $('#ad-carousel').carousel();
              $('#menu-nav .navbar-collapse a').click(function (e) {
                  var href = $(this).attr('href');
                  var tabId = $(this).attr('data-tab');
                  if ('#' !== href) {
                      e.preventDefault();
                      $(document).scrollTop($(href).offset().top - 70);
                      if (tabId) {
                          $('#feature-tab a[href=#' + tabId + ']').tab('show');
  }
                  }
              });
          });
      </script>
</block>
