<extend name="public:header" />
<block name="externLinks">
    <script src="__PUBLIC__/js/highcharts.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jqcloud.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jqcloud-1.0.4.js"></script>
</block>
<block name="content">
	<script type="text/javascript">
	var cloud = JSON.parse('<{$word}>');
	var word_list = cloud.map((x) => ({text: x[0], weight: x[1]}));
	console.log(word_list);
	for (var i=0; i<word_list.length; i++)
	{
		if (i % 2 == 0)
		{
			word_list[i] = {text: word_list[i].text, weight: word_list[i].weight, html:{"class": "vertical"}};
		}
	}
	

	$(function() {
        $("#wordcloud").jQCloud(word_list);
      });
				
	</script>

<div class="container">
	<div class="user_info row">
		<div class="head_img col-md-1">
			<img src="img/Infinity.png">
		</div>
		<div class="name col-md-2">
			<a href="##"><{$username}></a>
		</div>
	</div>
	 
	</br>
	<div class="row container">
		<div id="wordcloud" class="col-md-6" style="background-color:white; height: 600px; width: 50%; font-family:Microsoft Yahei"></div>

	<div id="bubble_charts" class="col-md-6" style="background-color:white"></div>
	</div>
	<div id="charts" style="height: 600px; width: 900px">		
	</div>
	<script type="text/javascript">
    	function getLocalTime(nS) {     
	        return new Date(parseInt(nS) * 1000).toLocaleString();
	    }   

		function FindStr(str1, str2){
		    var s = str1.indexOf(str2);
		    return(s);
		}

    	var temp = <{$emotion}>;
    	console.log(temp);

    	var time_data = new Array();
    	var step = (temp['end'] - temp['begin'])/9;
    	
        for(var i = 0; i < 10; i++)
    	{
    		time_data[i] = temp['begin'] + i * step;
    	}
    	
    	var time_str = new Array();

    	for (var i = 0; i < 10; i++) {
    		time_str[i] = getLocalTime(time_data[i]);
    		time_str[i] = time_str[i].slice(0, FindStr(time_str[i]," "));
    	};

		$(function () {
    $('#charts').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: '情感走势图'
        },
        subtitle: {
            text: '来源: zhihu.com'
        },
        xAxis: {
            categories: time_str,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Percent'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} millions)<br/>',
            shared: true
        },
        plotOptions: {
            area: {
                stacking: 'percent',
                lineColor: '#ffffff',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#ffffff'
                }
            }
        },
        series: [{
		            name: 'Happy',
		            data: temp['happy']
		        }, {
		            name: 'Sad',
		            data: temp['sad']
		        }, {
		            name: 'Fear',
		            data: temp['fear']
		        }, {
		            name: 'Angry',
		            data: temp['angry']
		        }, {
		            name: 'NONE',
		            data: temp['NONE']
		        }]
    });
});  
	</script>  
</div>

<script type="text/javascript">
		var bubble_data = JSON.parse('<{$model}>'); 

		var bubble_array = ["army","sport","tech","entrepreneurship","cartoon","constellation","game","education","travelPhotoFood"];

		var bubble_temp = new Array();

		for (var i = 0; i < 9; i++){
			bubble_temp[bubble_array[i]] = parseFloat(bubble_data[i]);
		}

		//console.log(bubble_temp);

		var diameter = 600,                                 
		    color = d3.scale.category20();                
		   
		var bubble = d3.layout.pack()                       
		    .sort(null)                                    
		    .size([diameter, diameter])	                    
		    .padding(1.5);                                 
		   
		var svg = d3.select("body")
			.selectAll("#bubble_charts")
			.append("svg")           
		    .attr("width", diameter)
		    .attr("height", diameter);  

		var result = d3.entries(bubble_temp);
		var startString = "{\"name\": \"flare\",\"children\": [";                      
		result.forEach(function(dude){                                                
			startString+="{\"name\":\""+dude.key+"\",\"size\":"+dude.value+"},";
		})
		startString = startString.substring(0,startString.length-1);
		startString+="]}";
		var json2 = JSON.parse(startString);
		console.log(classes(json2));
		var node = svg.selectAll(".node")
                  	  .data(bubble.nodes(classes(json2))
                      .filter(function(d) { return !d.children; }))
                      .enter().append("g")
                      .attr("class", "node")
                      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });                
        node.append("title")
			.text(function(d) { return d.className + ": " + (d.value); });            

		node.append("circle")
			.attr("r", function(d) { return d.r;})                                     
			.style("fill", function(d) { return color(d.value); });            
		
		node.append("text")
			.attr("dy", ".3em")
			.style("text-anchor", "middle")   
			.text(function(d) { return d.className.substring(0, d.r / 3); });    

        function classes(root) {
			var classes = [];                                                                                       
			function recurse(name, node) {
				if (node.children){
				    node.children.forEach(function(child) {
				    recurse(node.name, child); })
				}
				else {classes.push({ className: node.name, value: node.size})};   
			}
			recurse(null, root);
			return {children: classes};
		}
		</script>
</block>