<extend name="public:header" />
<block name="externLinks">
    <script src="__PUBLIC__/js/highcharts.js"></script>
    <script src="__PUBLIC__/js/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/data/index.css">
</block>
<block name="content">
<meta charset="utf-8">
	<div class="container">
		<div class="prego">
			<p>
				你喜欢什么？你是什么样的人？你最近心情如何？
			</p>
		</div>
		<div class="go">
			<a class="btn btn-block btn-lg btn-primary go" href="__MODULE__/DataAnalysis/index">go</a>
		</div>
	</div>
</block>