
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="__PUBLIC__/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/flat-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/css/content.css">
    <script src="__PUBLIC__/js/vendor/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/flat-ui.min.js"></script>

<body>
     <div class="weibos container">
        <div class="weibo-content">
        <volist name="weibos" id="weibo">
            <div class="weibo-index">
                <div class="info">
                    <div class="col-md-1">
                        <a href="##">
                            <img class="head-img"  src="__PUBLIC__/img/sina.jpg" height="32" width="32" />
                        </a>
                    </div>
                    <div class="col-md-11">
                        <div class="user-name user-about">
                            <a href="__URL__/personal?id=<{$weibo.userid}>"><{$weibo.user.username}></a>
                        </div>
                        <div class="user-info user-about">
                            <ul class="ul-user-info">
                                <li><a href="#"><{$weibo.time}></a></li>
                                <li>From:</li>
                                <li><a href="#"><{$weibo.datasource}></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>
                        <a href="__URL__/detail?id=<{$weibo.weiboid}>">
                        <{$weibo.content}>
                        </a>
                    </p>
                </div>
                <div class="pictures">
                    <div class="row">
                        <div class="pic col-xs-5 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="<{$weibo.picturesource}>" alt="NULL" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group3">
                    <a class="btn btn-primary" href="#"><strong class="W_f12"><{$weibo.number1}></strong><span class="S_txt2">转发</span></a>
                    <a class="btn btn-primary" href="#"><strong class="W_f12"><{$weibo.number2}></strong><span class="S_txt2">评论</span></a>
                    <a class="btn btn-primary" href="#"><strong class="W_f12"><{$weibo.number3}></strong><span class="fui-heart"></span></a>
                </div>
            </div>
        </volist>
        </div>
    </div>
</body>
