<extend name="public:header" />
<block name="externLinks">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="__PUBLIC__/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/flat-ui.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/NewWeibo/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/NewWeibo/list_all.css">
    <script src="__PUBLIC__/js/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jqcloud.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jqcloud-1.0.4.js"></script>
</block>
<block name="content">
	<div class="person_info1 container">
		<div class="list_person">
			<div class="person_pic"><a target="#" href="#" title="head-img" ><img class="head-img" src="<{$info.avatar_hd}>" height="120" width="120"></a></div>
			<div class="person_detail">
				<p class="person_name">
					<a class="person_username" target="#" href="##" title="username" >
						<{$info.real_name}>
					</a>
				</p>
				<p>
					<span>学号：<{$info.school_id}></span>
				</p>
				<p>
					<span>专业：<{$info.department}></span>
				</p>
				<p>
					<span>地址：<{$info.location}></span>
				</p>
				<p>
					<span>
						生日：<{$info.date_of_birth}>
					</span>
				</p>
				<p class="person_num">
					<span>朋友：<a class="Weibo_link" href="http://weibo.com/follow" target="#"><{$info.friends_count}></a></span>
					<span>粉丝：<a class="Weibo_link" href="http://weibo.com/fans" target="#"><{$info.followers_count}></a></span>
				<div class="person_info">
					<p>
						<{$info.description}>
					</p>		
				</div>				
			</div>
		</div>
		<div class="FS">
			<div class="likely_friends row">
				<div class="span">
					<span>相似好友推荐：</span>
				</div>		
			</div>
		</div>		
		<script type="text/javascript">
		var friends_temp = JSON.parse('<{$friends}>');      
		console.log(friends_temp[0][0].real_name);


        var maxL = friends_temp.length;
        maxL = (maxL > 12) ? 12 : maxL;

        var tempArray = new Array();
        for (var i = 0; i < maxL; i++) {
        	tempArray[i] = friends_temp[i][1] * 100;
        	tempArray[i] = tempArray[i].toFixed(2);
        };

		var parent_div = $(".likely_friends");
        for (var i = 0; i < maxL; i++)
        {
        	var div = $('<div class="friend col-md-3"></div>');
        	var div_img = $('<div class="img_div"></div>');
        	var image = $('<img src="' + friends_temp[i][0].avatar_hd + '"/>');
        	var friend_detail = $('<div class="friend_detail"></div>');
        	var fname = $('<div class="f_name"><a href="__URL__/detail?id=' + friends_temp[i][0].id + '">' + friends_temp[i][0].real_name + '</a></div>');
        	var fsame = $('<div class="f_same">' + "相似度：" + tempArray[i] + "%" + '</div>');
        	div_img.append(image);
        	friend_detail.append(fname);
        	friend_detail.append(fsame);
        	div.append(div_img);
        	div.append(friend_detail);
        	parent_div.append(div);
        }
    </script>
	</div>
    <script type="text/javascript">

		var cloud = JSON.parse('<{$word}>');
		var word_list = cloud.map((x) => ({text: x[0], weight: x[1]}));
		for (var i=0; i<word_list.length; i++)
		{
			if (i % 2 == 0)
			{
				word_list[i] = {text: word_list[i].text, weight: word_list[i].weight, html:{"class": "vertical"}};
			}
		}

		$(function() {
			$("#wordcloud").jQCloud(word_list);
		});
	</script>
	<div class="person_info2 container">
		<div id="wordcloud" style="background-color:white; height: 600px; width: 50%; font-family:Microsoft Yahei"></div>
		<div id="bubble_charts" style="background-color:white"></div>
	</div>
	<script type="text/javascript">
		var bubble_data = JSON.parse('<{$model}>');

		var bubble_array = JSON.parse('<{$lda}>');

		var bubble_temp = new Array();

		for (var i = 0; i < 9; i++){
			bubble_temp[bubble_array[i]['model_name']] = parseFloat(bubble_data[i]);
		}

		var diameter = 600,                                 
		color = d3.scale.category20();                

		var bubble = d3.layout.pack()                       
		.sort(null)                                    
		.size([diameter, diameter])	                    
		.padding(1.5);                                 

		var svg = d3.select("body")
		.selectAll("#bubble_charts")
		.append("svg")           
		.attr("width", diameter)
		.attr("height", diameter);  

		var result = d3.entries(bubble_temp);
		var startString = "{\"name\": \"flare\",\"children\": [";                      
		result.forEach(function(dude){                                                
			startString+="{\"name\":\""+dude.key+"\",\"size\":"+dude.value+"},";
		})
		startString = startString.substring(0,startString.length-1);
		startString+="]}";
		var json2 = JSON.parse(startString);
		var node = svg.selectAll(".node")
		.data(bubble.nodes(classes(json2))
			.filter(function(d) { return !d.children; }))
		.enter().append("g")
		.attr("class", "node")
		.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });                
		node.append("title")
		.text(function(d) { return d.className + ": " + (d.value); });            

		node.append("circle")
		.attr("r", function(d) { return d.r;})                                     
		.style("fill", function(d) { return color(d.value); });            

		node.append("text")
		.attr("dy", ".3em")
		.style("text-anchor", "middle")   
		.text(function(d) { return d.className.substring(0, d.r / 3); });    

		function classes(root) {
			var classes = [];                                                                                       
			function recurse(name, node) {
				if (node.children){
					node.children.forEach(function(child) {
						recurse(node.name, child); })
				}
				else {classes.push({ className: node.name, value: node.size})};   
			}
			recurse(null, root);
			return {children: classes};
		}
	</script>
</block>
