<extend name="public:header" />
<block name="externLinks">
    <link href="__PUBLIC__/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/flat-ui.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/NewWeibo/index.css">
    <script src="__PUBLIC__/js/highcharts.js"></script>
    <script src="__PUBLIC__/js/exporting.js"></script>
</block>

<block name="content">
	
</block>
